  {% extends  'base.html' %}
{% load static %}
{% block styles %}
<!-- Our Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/indexStyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/aboutusStyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/footerStyle.css' %}">
{% endblock %}
      {% block title %} NMAM Institute of Technology Research Journal | About Us {% endblock %}

      	{% block content %}
        <div class="content-x">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>About Us</h1>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a dictum orci, nec imperdiet ligula. Sed egestas eu ante eu mollis. Sed non dapibus turpis. Sed finibus nulla ac nunc ultrices, ac vulputate metus tempor. Fusce sed metus ipsum. Cras vel pharetra dolor. Nam vehicula aliquam elementum. Suspendisse imperdiet risus nec lorem commodo, nec consectetur nunc convallis. Curabitur bibendum semper porttitor. Fusce efficitur commodo nulla, eu congue nulla sagittis sit amet. Etiam nec urna ac lectus pulvinar porttitor sed et lorem. Mauris vel velit sem. Aenean sit amet tellus elit. Quisque interdum tincidunt mi, eget suscipit nibh vestibulum in. Praesent vel metus augue.</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{% static 'images/bg.jpg' %}" class="dev-pic-x"/>
                    </div>
                    <div class="col-sm-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a dictum orci, nec imperdiet ligula. Sed egestas eu ante eu mollis. Sed non dapibus turpis. Sed finibus nulla ac nunc ultrices, ac vulputate metus tempor. Fusce sed metus ipsum. Cras vel pharetra dolor. Nam vehicula aliquam elementum. Suspendisse imperdiet risus nec lorem commodo, nec consectetur nunc convallis. Curabitur bibendum semper porttitor. Fusce efficitur commodo nulla, eu congue nulla sagittis sit amet. Etiam nec urna ac lectus pulvinar porttitor sed et lorem. Mauris vel velit sem. Aenean sit amet tellus elit. Quisque interdum tincidunt mi, eget suscipit nibh vestibulum in. Praesent vel metus augue.</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a dictum orci, nec imperdiet ligula. Sed egestas eu ante eu mollis. Sed non dapibus turpis. Sed finibus nulla ac nunc ultrices, ac vulputate metus tempor. Fusce sed metus ipsum. Cras vel pharetra dolor. Nam vehicula aliquam elementum. Suspendisse imperdiet risus nec lorem commodo, nec consectetur nunc convallis. Curabitur bibendum semper porttitor. Fusce efficitur commodo nulla, eu congue nulla sagittis sit amet. Etiam nec urna ac lectus pulvinar porttitor sed et lorem. Mauris vel velit sem. Aenean sit amet tellus elit. Quisque interdum tincidunt mi, eget suscipit nibh vestibulum in. Praesent vel metus augue.</p>
                    </div>
                    <div class="col-sm-4">
                        <img src="{% static 'images/bg.jpg' %}" class="dev-pic-x"/>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{% static 'images/bg.jpg' %}" class="dev-pic-x"/>
                    </div>
                    <div class="col-sm-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a dictum orci, nec imperdiet ligula. Sed egestas eu ante eu mollis. Sed non dapibus turpis. Sed finibus nulla ac nunc ultrices, ac vulputate metus tempor. Fusce sed metus ipsum. Cras vel pharetra dolor. Nam vehicula aliquam elementum. Suspendisse imperdiet risus nec lorem commodo, nec consectetur nunc convallis. Curabitur bibendum semper porttitor. Fusce efficitur commodo nulla, eu congue nulla sagittis sit amet. Etiam nec urna ac lectus pulvinar porttitor sed et lorem. Mauris vel velit sem. Aenean sit amet tellus elit. Quisque interdum tincidunt mi, eget suscipit nibh vestibulum in. Praesent vel metus augue.</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-8">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a dictum orci, nec imperdiet ligula. Sed egestas eu ante eu mollis. Sed non dapibus turpis. Sed finibus nulla ac nunc ultrices, ac vulputate metus tempor. Fusce sed metus ipsum. Cras vel pharetra dolor. Nam vehicula aliquam elementum. Suspendisse imperdiet risus nec lorem commodo, nec consectetur nunc convallis. Curabitur bibendum semper porttitor. Fusce efficitur commodo nulla, eu congue nulla sagittis sit amet. Etiam nec urna ac lectus pulvinar porttitor sed et lorem. Mauris vel velit sem. Aenean sit amet tellus elit. Quisque interdum tincidunt mi, eget suscipit nibh vestibulum in. Praesent vel metus augue.</p>
                    </div>
                    <div class="col-sm-4">
                        <img src="{% static 'images/bg.jpg' %}" class="dev-pic-x"/>
                    </div>
                </div>
            </div>
        </div>

    <!-- END - CONTENT -->
	{% endblock %}
