  {% extends  'base.html' %}
{% load static %}
{% block styles %}
<!-- Our Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/indexStyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/aboutusStyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/footerStyle.css' %}">
{% endblock %}
      {% block title %} NMAM Institute of Technology Annual Research Journal | About Institute {% endblock %}

      	{% block content %}
        <div class="content-x">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1>About Us</h1>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>NMAM Institute of Technology was started in the year 1986, as a part of Nitte Education
                          Trust, Mangalore and celebrated its Silver Jubilee in 2011. The Institute is named in fond memory
                          of Nitte Mahalinga Adyanthaya, a distinguished engineer of the district. It is affiliated to the
                          Visvesvaraya Technological University, Belgaum, enjoying academic autonomy and is recognized
                          by the All India Council for Technical Education, New Delhi. It is accredited by the National
                          Board for Accreditation and is certified to the ISO 9001 – 2008 standards for quality education
                          by KEMA, Netherlands. The Institute has been recognized as Lead Institute under TEQIP- I Project
                          of World Bank</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{% static 'images/bg.jpeg' %}" class="dev-pic-x"/>
                    </div>
                    <div class="col-sm-8">
                        <p> The Institute offers B.E, M.Tech and Ph.D pragrammes in various Engineering and Technology
                        disciplines. The graduate programs comprise of 7 branches of Engineering – Electronics &
                        Communication Engineering, Computer Science & Engineeing, Civil Engineering, Electrical &
                        Electronics Engineering, Information Science & Engineering, Bio-Technology and Mechanical
                        Engineering. The Institute’s postgraduate programs include, Master of Technology in 13
                        disciplines, Master of Computer Applications and Master of Business Administration. The
                        Visvesvaraya Technological University has opened a postgraduate extension centre at NMAMIT,
                        offering M.Tech in Micro-electronics & Control Systems. Besides these, students also pursue
                        their M.Sc(Eng.) and Doctoral Programs at the Institute. The Institute got academic autonomy
                        in the year 2007, bringing in the much needed flexibility to innovate in terms of curriculum,
                        education delivery and evaluation. Institute entered into collaboration with Penn State University,
                        Harrisburg, USA and started offering 2+2 twinning program in Engineering since 2011.</p>
                    </div>
                </div>
                <hr>
            </div>
        </div>

    <!-- END - CONTENT -->
	{% endblock %}
