{% extends  'base.html' %}
{% load static %}
{% block styles %}
<!-- Our Custom CSS -->
<link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
<link rel="stylesheet" href="{% static 'css/indexStyle.css' %}">
<link rel="stylesheet" href="{% static 'css/aboutusStyle.css' %}">
<link rel="stylesheet" href="{% static 'css/footerStyle.css' %}">
<link rel="stylesheet" href="{% static 'css/editorialteamStyle.css' %}">
{% endblock %}
{% block title %} NMAM Institute of Technology Annual Research Journal | Editorial {% endblock %}

{% block content %}
<!-- START - CONTENT -->
<div class="content-x">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Members of Editorial Team</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="{% static 'images/principal.jpg' %}" class="dev-pic-x"/>
            </div>
            <div class="col-sm-8">
                <h4>EDITOR-IN-CHEIF</h4>
                <p>Dr. Nirajnjan N. Chiplunkar</p>
                <p>NMAM Institute of Technology, Nitte</p>
            </div>
        </div>
        <hr class="col-sm-12">
        <div class="row">
            <div class="col-sm-8">
                <h4>EDITOR</h4>
                <p>Dr. Sudesh Bekal Dean (R&D)</p>
                <p>NMAM Institute of Technology, Nitte</p>

            </div>
            <div class="col-sm-4">
                <img src="{% static 'images/dean.jpg' %}" class="dev-pic-x"/>
            </div>
        </div>
        <hr class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h4>EDITORIAL BOARD</h4>
                <h5>Dr. S. Y. Kulkarni </h5>
                <p>Reva University, Bangalore </p>
                <h5>Dr. N. S. Sriram </h5>
                <p>Vidya Vikas College of Engineering, Mysore </p>
                <h5>Dr. C. Vaman Rao </h5>
                <p>NMAM Institute of Technology, Nitte </p>
                <h5>Dr. Ashok Babu T. P. </h5>
                <p>National Institute of Technology Karnataka, Suratkal</p>
                <h5>Dr. Jaganath Nayak </h5>
                <p>National Institute of Technology Karnataka, Suratkal </p>
                <h5>Dr. Shridhara S.</h5>
                <p>Indian Institute of Technology Bombay, Mumbai</p>
                <h5>Dr. K. V. V. Murthy </h5>
                <p>Indian Institute of Technology, Gandhinagar </p>
                <h5>Dr. Navakanth Bhat </h5>
                <p>Indian Institute of Science & Communication, Bangalore </p>
                <h5>Dr. Gopalakrishna Kini </h5>
                <p>Manipal Institute of Technology, Manipal </p>
            </div>
        </div>
        <hr class="col-sm-12">
        <div class="row">
            <div class="col-sm-12">
                <h4>EDITORIAL ASSISTANTS </h4>
                <h5>Dr. Bharath B. R., NMAMIT, Nitte.</h5>
                <h5>Mr. Raghunandan K. R., NMAMIT, Nitte</h5>
            </div>
        </div>
    </div>
</div>

<!-- END - CONTENT -->
{% endblock %}
