{% extends  'base.html' %}
{% load static %}

            {% block title %}NMAMIT Annual Research Journal  {% endblock %}



  {% block styles %}
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/card.css' %}">
  <link rel="stylesheet" href="{% static 'css/w3.css' %}">
  <link rel="stylesheet" href="{% static 'css/sliderStyle.css' %}">
  <link rel="stylesheet" href="{% static 'css/slideshowStyle.css' %}">
  {% endblock %}
  {% block content %}
  <!-- START - CONTENT -->
  <div class="content-x">
      <div class="container">
          <div class="row">
            <div class="col-sm-12">
                <div class="w3-content w3-display-container">
                    <img class="mySlides fade" src="{% static 'images/1.jpg' %}" style="height: 500px;width:100%">
                    <img class="mySlides fade" src="{% static 'images/2.jpg' %}" style="height: 500px;width:100%">
                    <img class="mySlides fade" src="{% static 'images/3.jpg' %}" style="height: 500px;width:100%">
                    <img class="mySlides fade" src="{% static 'images/4.jpg' %}" style="height: 500px;width:100%">

                    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                  </div>
            </div>
          </div>

          <div class="featureBox-x row">
              <a href="{% url 'paperauthor:addpaper' %}">
              <div class="col-lg-3 well-x col-lg-push-1">
                  <img src="{% static 'images/contract-big.png' %}" class="high-menu-x"/>
                    <h1>Submit Your Paper</h1>
              </div>
              </a>
              <a href="{% url 'paperreviewer:portal' %}">
              <div class="col-lg-3 well-x col-lg-push-1">
                  <img src="{% static 'images/review-big.png' %}" class="high-menu-x"/>
                  <h1>Review Others Paper</h1>
              </div>
              </a>
              <a href="{% url 'baseportal:track' %}">
              <div class="col-lg-3 well-x col-lg-push-1">
                  <img src="{% static 'images/route-big.png' %}" class="high-menu-x"/>
                  <h1>Track your Paper Now</h1>
              </div>
              </a>
          </div>

            <!-- END - SLIDESHOW -->
            <div class="row">
                <div class="col-md-8">
                    <h1><u>Previous Journals</u></h1>
                    <div class="contain-y">
                        <div class="row-y">
                          <div class="row__inner">
                        {% for el in journals %}
                            <div class="tile">
                                <a href="{% url 'baseportal:showjournal' journalslug=el.slug %}">
                                  <div class="tile__media card">
                                    <div>
                                      <img src="{{el.preview_image.url}}" alt="{{el.preview_image.url}}" class="verticalSlidersImg">
                                    </div>
                                    <div>{{el.name}}</div>
                                    <div>{{el.published_date}}</div>
                                  </div>
                                </a>
                            </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                </div>
                <div class="counter-x col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading-x panel-heading counter-text" >TOTAL</div>
                        <div class="panel-body">
                            <p class="counter-text" >Authors : {{authors.count}}</p>
                            <p class="counter-text">Journals : {{journals.count}}</p>
                        </div>
                    </div>
                </div>
                <div class="counter-x col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading-x panel-heading counter-text" >Archives</div>
                        <div class="panel-body">
                            <a href="{% url 'baseportal:listvolume' %}"> Click here for Archives  </a>
                        </div>
                    </div>
                </div>
            </div>
</div>
</div>

         <script type="text/javascript" src="{% static 'js/slideshow.js' %}"></script>
         <script>
             setInterval(function(){ plusDivs(1); }, 3000);
         </script>



	{% endblock %}
