{% extends  'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href={% static 'style/viewPaperBoxStyle.css' %}>
<link rel="stylesheet" href={% static 'style/buttons.css' %}>
{% endblock %}
{% block title %}{{journal.name}} | NMAMIT Annual Research Journal  {% endblock %}

{% block content %}
<!-- START - CONTENT -->
<div class="content-x" style="height: 50%;">
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <img src="{% get_media_prefix %}{{journal.preview_image}}" class="showJImage">
            </div>
            <div class="col-sm-7">
                <h1>{{journal.name}}</h1>
                <hr>
                <h3>Description</h3>
                <p>{{journal.description}}</p>
                <h3>Summary</h3>
                <p>{{journal.published_date}}</p>
                {% if user.is_authenticated %}
                  <a href="{% get_media_prefix %}{{journal.upload}}" class="btn btn-danger">Download</a>
                {% else %}
                  Please log in to download.
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
