{% extends  'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href={% static 'style/viewPaperBoxStyle.css' %}>
<link rel="stylesheet" href={% static 'style/buttons.css' %}>
{% endblock %}
{% block content %}
<!-- START - CONTENT -->
<div class="viewPaperBox">
    <div class="viewPaperBoxBody">
        <div class="viewPaperBoxLeftData">
            <img src="{% get_media_prefix %}{{journal.preview_image}}" alt="{{journal.name}}"/>
        </div>
        <div  class="viewPaperBoxRightData">
            <p class="viewPaperBoxTitle">{{journal.name}}</p>
            <p class="viewPaperBoxAuthor">ABXX YZ</p>
            <p class="viewPaperBoxDate">{{journal.published_date}}</p>
            <p class="viewPaperBoxDescription">{{journal.description}}</p>
            <p style="margin-top: 10px;"><a class="buttonRed" href="{% get_media_prefix %}{{journal.upload}}">Download</a></p>
        </div>
    </div>
</div>
<!-- END - CONTENT -->
{% endblock %}
