{% extends 'base.html' %}
{% load static %}
{% block title %}Review the Manuscript {{paper}}| NMAMIT Annual Research Journal  {% endblock %}
{%block styles %}
        <link rel="stylesheet" href="{% static 'css/reviewRequestStyle.css' %}"><!--CUSTOM STYLESHEET HRE-->
        <link rel="stylesheet" href="{% static 'css/passwordResetStyle.css' %}"><!--CUSTOM STYLESHEET HRE-->
        {% endblock %}
        {% block content %}
      <!-- START - CONTENT -->
                <div class="content-x text-center" style="min-height: 45%">

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <h2>Do you want to Review this Paper?</h2>
                                <p>You can <u>Accept</u> or <u>Reject</u> this paper, We expect to Accept this paper from ur side.</p>
                                <hr>
                            </div>
                        </div>
                         <form class="text-center" method="POST">
                             <h3>Choose your option on {{paper}}</h3>
                            <div class="row row-x">
                                <div class="col-xs-12">
                                  {% csrf_token %}
                                  {{form}}
                                </div>
                            </div>
                            <div class="row row-x">
                               <div class="col-xs-12">
                                    <div class="margin-x mt-4">
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            {% endblock %}
