{% extends "base.html" %}
{% load static %}
{% block title %}Manuscript: {{paper}}| NMAMIT Annual Research Journal  {% endblock %}

{% block content %}
<!-- START - CONTENT -->
<div class="content-x" style="min-height:43%">
    <a href="{% url 'paperreviewer:portal' %}"><img src="{% static 'images/left-blue.png' %}" class="back-button" alt="Reviewer Portal"></a>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Paper Name : {{paper}}</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4>Abstract : </h4>
            </div>
            <div class="col-sm-12">
                <p>{{paper.abstract}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <a  class="btn btn-danger" href="{% url 'paperreviewer:downloadpaper' paperslug=paper.slug %}">
              		Download PDF
              	</a>
            </div>

            <div class="col-sm-2">

              	{% if paper.is_reviewed %}
              		<h3>Paper already reviewed as {{paper.review_status}}</h3>
              	{% else %}
              	<a  class="btn btn-primary" href="{% url 'paperreviewer:annotate' %}?file={% url 'paperreviewer:downloadpaper' paperslug=paper.slug %}">Annotate</a>
              	  </div>
                    <div class="col-sm-2">
                  <a class="btn btn-info" href="{% url 'paperreviewer:reviewpaper' paperslug=paper.slug %}">
              		Review
              	</a>
              	{% endif %}
            </div>
            <div class="col-sm-2">
              {% if paper.is_resubmission %}
            		<a class="btn btn-info" href="{% url 'paperreviewer:downloadsuggestedcorrections' paperslug=paper.slug %}">
            		  Suggested Correction
            		</a>
              </div>
                <div class="col-sm-2">
            		<a class="btn btn-info" href="{% url 'paperreviewer:downloadperformedcorrections' paperslug=paper.slug %}">
            		  Performed Correction
            		</a>
            	{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
