{% extends 'base.html' %}
{% load static %}
{% load has_group %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/indexStyle.css' %}">
<link rel="stylesheet" href="{% static 'css/profileStyle.css' %}">
<link rel="stylesheet" href="{% static 'css/footerStyle.css' %}">
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<link rel="stylesheet" href="{% static 'css/w3.css' %}">
<link rel="stylesheet" href="{% static 'css/sliderStyle.css' %}">
<link rel="stylesheet" href="{% static 'css/slideshowStyle.css' %}">
{% endblock %}
{% block title %} User Dashboard | NMAMIT Annual Research Journal  {% endblock %}
{% block content %}
<div class="content-x" style="height: 50%;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2><u>Dashboard</u></h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="container target">
                    <div class="row">
                       <h5 class="">Dear {{user.username}},</h5>
                        <div class="col-sm-10">

                             {% if user.is_superuser %}

                               <a class="btn btn-info" href="{% url 'admin:index' %}">Admin Portal</a>

                             {% endif %}
                             {% if user|has_group:"author" %}

                               <a class="btn btn-info" href="{% url 'paperauthor:portal' %}">Author Portal</a>
                                <== Submit New Papers Here
                             {% endif %}
                             {% if user|has_group:"reviewer" %}

                               <a class="btn btn-info" href="{% url 'paperreviewer:portal' %}">Reviewer Portal</a>
                                <== Review Papers Here
                             {% endif %}

                            <br>
                        </div>
                      <div class="col-sm-2"><a href="#" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="{% static 'images/boy.png' %}"></a>

                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-3">
                            <!--left col-->
                            <ul class="list-group">
                                <li class="list-group-item text-muted" contenteditable="false">Profile</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span> {{user.date_joined|date:"M d, Y"}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong class=""><a href="{% url 'accounts:password_change' %}" ><img src="{% static 'images/editPencil.png' %}"></strong></span>Change Password</a></li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Real name</strong></span> {{user.username}}</li>
                              <li class="list-group-item text-right"><span class="pull-left"><strong class="">Email</strong></span> {{user.email|default:"-"}}</li>
                            </ul>

                            <ul class="list-group">
                                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i>

                                </li>

                                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Papers Submitted</strong></span> {{user.paper_set.count|default:"-"}}</li>
                                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Papers Reviewed</strong></span> {{user.reviewpaper.count|default:"-"}}</li>
                            </ul>
                        </div>
                        <!--/col-3-->
                        <div class="col-sm-9" style="" contenteditable="false">
                            <div class="panel panel-default target">
                                <div class="panel-heading" contenteditable="false">Recent Activity by {{user.username}}</div>
                                <div class="panel-body">
                                <div class="row">
                                {% if user|has_group:"author" %}
                                
                                  {% for el in a %}

                                    <div class="col-md-4">
                                      <div class="tile">
                                          <a href="{% url 'paperauthor:showpaper' paperslug=el.slug %}">
                                            <div class="tile__media card">
                                              <div>
                                                <img src="{{el.preview_image.url}}" alt="{{el.title}}" class="verticalSlidersImg">
                                              </div>

                                              <div>{{el.name}}</div>
                                              <div>{{el.published_date}}</div>
                                            </div>
                                          </a>
                                      </div>
                                    </div>
                                    {% endfor %}

                                    {% endif %}
                                    {% if user|has_group:"reviewer" %}
                                    {% for el in b %}
                                      <div class="col-md-4">
                                        <div class="tile">
                                            <a href="{% url 'baseportal:showjournal' journalslug=el.slug %}">
                                              <div class="tile__media card">
                                                <div>{{el.name}}</div>
                                                <div>{{el.published_date}}</div>
                                              </div>
                                            </a>
                                        </div>
                                      </div>
                                      {% endfor %}
                                      {% endif %}
                            </div>
                        </div>
                        </div>
                        </div>
                        <div id="push"></div>
                    </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
