{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Password Assistance | NMAMIT Annual Research Journal  {% endblock %}
{% block content %}

<!-- START - CONTENT -->

<div class="content-x text-center" style="min-height: 45%">

    <div class="container">

          {% if validlink %}
          <form method="post">
            {% csrf_token %}
            <div class="row row-x">
                <div class="col-xs-8">
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                          {% render_field form.new_password1 id="materialFormRegisterPasswordEx" class="form-control" %}{{ form.password1.errors }}
                        <label for="materialFormRegisterPasswordEx">Password</label>
                    </div>
                </div>
            </div>
            <div class="row row-x">
                <div class="col-xs-8">
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        {% render_field form.new_password2 id="materialFormRegisterPasswordEx" class="form-control" %}{{ form.password2.errors }}
                        <label for="materialFormRegisterPasswordEx">Confirm Password</label>
                    </div>
                </div>
            </div>
            <div class="row row-x">
               <div class="col-xs-8 row-x">
                    <div class="margin-x mt-4">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
          {% else %}
          <div class="row">
              <div class="col-sm-12 text-center">
                  <img src="{% static 'images/error.png' %}" class="model-header-x">
                  <h2>Sorry! Invalid Link</h2>
                  <p>The password reset link was <u>invalid</u>, or possibly it has been already <u>used</u> or <u>expired</u>.Please request new password reset or contact Administrator</p>
                  <hr>
              </div>
          </div>
          {% endif %}
          <div class="row">
              <div class="col-sm-5 text-center opt-x-left">

                  <a href="{% url 'accounts:login' %}"><img class="model-opt-img-x" src="{% static 'images/login-color.png' %}"><h1>Login</h1></a>
              </div>
              <div class="col-sm-2">
              </div>
              <div class="col-sm-5 text-center opt-x-right">

                  <a href="{% url 'baseportal:homepage' %}">	<img class="model-opt-img-x" src="{% static 'images/favicon.ico' %}"><h1>Home</h1></a>
              </div>
          </div>
    </div>
</div>

{% endblock %}
