{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Password Assistance | NMAMIT Annual Research Journal  {% endblock %}

{% block content %}
<div class="content-x text-center" style="min-height: 45%">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2>Forgot Password?</h2>
                <p>Do you forgot your password? Don't worry we will help you.</p>
                <hr>
            </div>
        </div>
        <form method="post" class="text-center">
          {% csrf_token %}
             <h3>Please provide us details</h3>
            <div class="row row-x">
                <div class="col-xs-12">
                    <div class="md-form" style="margin-left: 160px;margin-right: 160px;">
                        <i class="fa fa-lock prefix grey-text"></i>
                        {% render_field form.email id="materialFormRegisterPasswordEx" class="form-control" %}{{ form.email.errors }}
                        <label for="materialFormRegisterPasswordEx">Email ID</label>
                    </div>
                </div>
            </div>
            <div class="row row-x">
               <div class="col-xs-12">
                    <div class="margin-x mt-4">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
