{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Password Assistance | NMAMIT Annual Research Journal  {% endblock %}
{% block content %}

<div class="content-x text-center" style="min-height: 45%">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-left">
                <h2>Change Password</h2>
                <hr>
            </div>
        </div>
        <form method="post" class="text-left">
          {% csrf_token %}
            <div class="row row-x">
                <div class="col-xs-12">
                    <div class="md-form" style="margin-right: 160px;">
                        <i class="fa fa-lock prefix grey-text"></i>
                      {% render_field form.old_password id="materialFormRegisterNameEx" class="form-control" %}{{ form.old_password.errors }}
                        <label for="materialFormRegisterPasswordEx">Old Password</label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="md-form" style="margin-right: 160px;">
                        <i class="fa fa-lock prefix grey-text"></i>
                        {% render_field form.new_password1 id="materialFormRegisterNameEx" class="form-control" %}{{ form.new_password1.errors }}
                        <label for="materialFormRegisterPasswordEx">New Password</label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="md-form" style="margin-right: 160px;">
                        <i class="fa fa-lock prefix grey-text"></i>
                        {% render_field form.new_password2 id="materialFormRegisterNameEx" class="form-control" %}{{ form.new_password2.errors }}
                        <label for="materialFormRegisterPasswordEx">Confirm New Password</label>
                    </div>
                </div>
            </div>
            <div class="row row-x">
               <div class="col-xs-12">
                    <div class="margin-x mt-4">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>
  {% endblock %}
