{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- START - CONTENT -->
<img src="images/left-blue.png" class="back-button">
<div class="content-x text-center" style="min-height: 45%">

    <div class="container">
        <div class="row">
            <div class="col-sm-5 text-center opt-x-left">
                <img class="model-opt-img-x" src="images/login-color.png">
                <a href="{% url 'accounts:login' %}"><h1>Login</h1></a>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-5 text-center opt-x-right">
                <img class="model-opt-img-x" src="images/favicon.ico">
                <a href="{% url 'baseportal:homepage' %}"><h1>Home</h1></a>
            </div>
        </div>
          {% if validlink %}
          <form method="post">
            {% csrf_token %}
            <div class="row row-x">
                <div class="col-xs-8">
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                          {% render_field form.password1 id="materialFormRegisterPasswordEx" class="form-control" %}{{ form.password1.errors }}
                        <label for="materialFormRegisterPasswordEx">Password</label>
                    </div>
                </div>
            </div>
            <div class="row row-x">
                <div class="col-xs-8">
                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        {% render_field form.password2 id="materialFormRegisterPasswordEx" class="form-control" %}{{ form.password2.errors }}
                        <label for="materialFormRegisterPasswordEx">Confirm Password</label>
                    </div>
                </div>
            </div>
            <div class="row row-x">
               <div class="col-xs-8 row-x">
                    <div class="margin-x mt-4">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
          {% else %}
          <div class="row">
              <div class="col-sm-12 text-center">
                  <img src="images/error.png" class="model-header-x">
                  <h2>Sorry! Invalid Link</h2>
                  <p>The password reset link was <u>invalid</u>, or possibly it has been already <u>used</u> or <u>expired</u>.Please request new password reset or contact Administrator</p>
                  <hr>
              </div>
          </div>
          {% endif %}
    </div>
</div>

{% endblock %}
