{% load static %}
{% block content %}
 {% autoescape off %}
Hello {{ user.get_username }},


To initiate the password reset process for your {{ user.get_username }} E-Journal ,
click the link below:

{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Note: If you haven't requested password reset, please let us know.

Sincerely,
Administrator,
E-Journal Portal, Nitte University
{% endautoescape %}

{% endblock %}
