{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/registerStyle.css' %}">
<link rel="stylesheet" href="{% static 'css/addPaperStyle.css' %}">
{% endblock %}
{% block content %}
<!-- START - SUBMIT FORM-->
<div class="content-x">
		<div class="container">
		<form method="post" enctype='multipart/form-data'>
								{% csrf_token %}
				<div class="row row-x">
						<div class="col-xs-8">
								<h1 class="counter-text margin-x h4 mb-4"><b>Fill in detials to add your Paper</b></h1>
						</div>
				<hr class="col-xs-11">
						<div class="col-xs-8 row-x">
								<div class="md-form">
										<i class="fa fa-user prefix grey-text"></i>
										{% render_field form.title id="materialFormRegisterNameEx" class="form-control" %}{{ form.title.errors }}
										<label for="materialFormRegisterNameEx">Title</label>
								</div>
						</div>

						<div class="col-xs-8 row-x">
								<div class="md-form">
										{% render_field form.abstract id="textareaBasic" class="form-control md-textarea" rows="3" %}{{ form.description.errors }}
										<label for="textareaBasic">Abstract</label>
								</div>
						</div>

						<div class="col-xs-8 row-x">
										<label>Category</label>
										{% render_field form.category class="comboBoxOne" %}{{ form.category.errors }}
						</div>

						<div class="col-xs-8 row-x">
								<div class="textarea-x md-form">
										<i class="fa fa-user prefix grey-text"></i>
										<p><b>Keywords</b></p>
										{% render_field form.keywords rows="5"  id="materialFormRegisterNameEx" class="sdd form-control" data-role="tagsinput" %}{{ form.keywords.errors }}
								</div>
						</div>

						<div class="col-xs-8 row-x">
								 <div class="md-form">
										<div class="file-field">
												<div class="btn btn-primary btn-sm float-left">
														<span class="file-text-x">Choose file</span>
														{% render_field form.upload class="file-text-x" type="file" accept="application/pdf" %}{{ form.upload.errors }}
												</div>
										</div>
								</div>
						</div>

						<div class="col-xs-8 row-x">
								<div class="margin-x mt-4">
								<input type="submit" class="btn btn-primary" value="SUBMIT Paper">
								<input type="reset" class="btn btn-danger" value="RESET Fields">
								</div>
								{{form.non_field_errors}}
						</div>

				</div>
		</form>
		</div>
</div>
{% endblock %}
